/* Estágio padrão (Cinza e opaco) */
.thumbnail-item {
    width: 100%;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(100%);  
    opacity: 0.6;
    border: 4px solid transparent; 
    transition: all 0.3s ease;
    border-radius: 6px;
  }
  
   .thumbnail-item:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  
   .thumbnail-item.active {
    filter: grayscale(0%);  
    opacity: 1;
    border-color: #22c55e; 
    transform: scale(1.02);  
  }