.hero-content-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 769px) {
    .hero-content-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: opacity 0.3s ease-in-out;
    height: 350px;
    object-fit: cover;
}

.thumbnail-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnail {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.thumbnail:hover {
    opacity: 1;
    transform: scale(1.05);
}

.thumbnail.active {
    opacity: 1;
    border: 2px solid #007bff;
}

.hero-text-top{
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}